@model  WebQLKhoDuoc.Models.PhieuXuat
@*BanTaiChinh*@
@if (@Session["MaLoaiThanhVien"].Equals(4))
{

    @Html.HiddenFor(model => model.TenPhieuX)
    @Html.HiddenFor(model => model.NgayXuat)

    @Html.HiddenFor(model => model.SoLuongX)
    @Html.HiddenFor(model => model.TongGiaTriX)
    @Html.HiddenFor(model => model.HTTT)

    @Html.HiddenFor(model => model.MaThanhVien)
    @Html.HiddenFor(model => model.MaKho)
    @Html.HiddenFor(model => model.MaDonVi)
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Ngày xuất</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" name="NgayXuat" id="NgayXuat" class="form-control" disabled="disabled" placeholder="@Model.NgayXuat">
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Số lượng</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" class="form-control" id="SoLuongX" disabled="disabled" placeholder="@Model.SoLuongX">
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Tổng giá:</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" class="form-control" disabled="disabled" placeholder="@Model.TongGiaTriX">
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Hình thức thanh toán</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" class="form-control" disabled="disabled" placeholder="@Model.HTTT">
        </div>
    </div>
    <br />
    <br />

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Thanh Toán</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            @if (@Model.isThanhToan == true)
            {
                @Html.CheckBox("isThanhToan", true, new { @readonly = "readonly" })
            }
            else
            {
                @Html.CheckBox("isThanhToan", false, new { @readonly = "readonly" })
            }
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Duyệt</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            @if (@Model.isDuyet == true)
            {
                @Html.CheckBox("isDuyet", true, new { @readonly = "readonly" })
            }
            else
            {
                @Html.CheckBox("isDuyet", false, new { @readonly = "readonly" })
            }
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Người xuất</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" name="MaThanhVien" class="form-control" disabled="disabled" placeholder="@Model.ThanhVien.FullName">
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Kho xuất</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" name="MaKho" class="form-control" disabled="disabled" placeholder="@Model.Kho.TenKho">
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-1 col-xs-1">Đơn vị nhận</label>
        <div class="col-md-6 col-sm-6 col-xs-5">
            <input type="text" name="MaDonVi" class="form-control" disabled="disabled" placeholder="@Model.DonViGN.TenDonVi">
        </div>
    </div>
    <br />
    <br />
    <br />
}
