@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<WebQLKhoDuoc.Models.LoaiThanhVien>
         
@{
    ViewBag.Title = "XemDMLoaiTV";
    Layout = "~/Views/Shared/TrangChuDM.cshtml";
}

<script>

</script>
<div class="page-title">
    <div class="x_panel">
        <div class="x_title">
            <h2>Xem thông tin loại thành viên</h2>
            <div class="clearfix"></div>
        </div>
    </div>
    @using (Html.BeginForm("XemDMLoaiTV", "DanhMuc", FormMethod.Get))
    {
        <div class="center form-inline">
            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 260px">
                @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Nhập tên loại thành viên cần tìm...", @style = "width:400px;" })
                <input class="btn-success btn-md form-control" type="submit" value="Tìm" id="search-button" />
                <br /><br />
            </div>
        </div>

    }
    @*@if (ViewBag.Message == 0)
    {
        <script language="javascript">
            window.onload = function () {
                alert("Không được để trống nội dung tìm!!!");
                //window.location = "XemDMKho";
            }
        </script>
    }*@
    
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="panel body panel panel-primary">
                    <table width=100% class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr class="headings">
           
                                <th class="column-title">Tên loại thành viên</th>
                                <th class="column-title text-center">Sửa</th>
                                <th class="column-title text-center">Cấp quyền</th>
                              
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr class="even pointer">
                                  
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.TenLoaiThanhVien)
                                    </td>

                                    <td class="" align="center">
                                        <a href="@Url.Action("SuaDMLoaiTV", "DanhMuc", new { @MaLoaiThanhVien = item.MaLoaiThanhVien })" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            Sửa
                                        </a>
                                    </td>
                                    <td class="" align="center">
                                        <a href="@Url.Action("Index", "PhanQuyenTV", new { id = item.MaLoaiThanhVien })" class="btn btn-danger btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            Cấp quyền
                                        </a>

                                    </td>
                                    

                                </tr>

                            </tbody>
                        }
                    </table>

                    <br />

                  
                    @*<div class="nav navbar-right" style=" margin-right: 30px">
                <a href="../DanhMuc/ThemDMLoaiTV">
                    <input class="btn btn-success" type="submit" name="Thêm Loại Thành Viên">
                </a>
            </div>*@
                    </div>
                </div>
            <a href="@Url.Action("ThemDMLoaiTV", "DanhMuc")" class="btn btn-primary btn-xs">
                <i class="fa fa-plus"></i>
                Thêm Mới

            </a>
        </div>

    </div>
</div>
    <div style="margin-left:400px">
        @Html.PagedListPager(Model, page => Url.Action("XemDMLoaiTV", new { page = page }))
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        //Remove unnecessary input.
        $('#search-button').click(function () {
            $('input[name="DXScript"]').remove();
            return true;
        })
    });
</script>