@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<WebQLKhoDuoc.Models.ThanhVien>
@{
    ViewBag.Title = "XemDMThanhVien";
    Layout = "~/Views/Shared/TrangChuDM.cshtml";
}

    <div class="page-title">
        <div class="x_panel">
            <div class="x_title">
                <h2>Xem thông tin thành viên</h2>

                <div class="clearfix"></div>
            </div>
        </div>

        @using (Html.BeginForm("XemDMThanhVien", "DanhMuc", FormMethod.Get))     
        {
               
             <div class="center form-inline">         
                 <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: 260px">
                     <b>Tìm theo: </b> @Html.RadioButton("searchBy", "FullName", true)<text> Họ tên </text>
                     @Html.RadioButton("searchBy", "TenDangNhap") <text> Tên Đăng nhập </text>
                     <br /><br />
                     @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Gõ nội dung cần tìm...", @style = "width:400px;" })
                     <input class="btn-success btn-md form-control" type="submit" value="Tìm" id="search-button" />
                     <br /><br />
                 </div>
             </div>

        }
    </div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="panel body panel panel-primary">
                    <table width=100% class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>

                            <tr class="headings">

                               
                                <th class="column-title">Họ tên</th>
                                <th class="column-title">Tên đăng nhập</th>
                                <th class="column-title">Mật khẩu</th>
                                <th class="column-title">Email</th>
                                <th class="column-title text-center">Giới tính</th>
                                <th class="column-title text-center">Admin</th>
                                <th class="column-title">Loại thành viên</th>
                                <th class="column-title text-center">Duyệt</th>
                                <th class="column-title text-center">Xóa</th>
                              
                            </tr>

                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr class="even pointer">
                                   
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.Pass)
                                        @*@Html.Value("llllllllll")*@
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="center" align="center">
                                        @if (item.GioiTinh == true)
                                        {
                                            @Html.Label("Nữ")
                                        }
                                        else
                                        {
                                            @Html.Label("Nam")
                                        }
                                    </td>
                                    <td class="center" align="center">
                                        @if (item.isadmin == true)
                                        {
                                            @Html.CheckBox("isadmin", true, new { disabled = "disabled", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("isadmin", false, new { disabled = "disabled", @readonly = "readonly" })
                                        }
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.LoaiThanhVien.TenLoaiThanhVien)
                                    </td>
                                    <td class=""align="center">
                                        <a href="@Url.Action("SuaDMThanhVien", "DanhMuc", new { @MaThanhVien = item.MaThanhVien })" class="btn btn-success btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            Duyệt
                                        </a>
                                    </td>
                                    <td class="" align="center">
                                        <a href="@Url.Action("XoaDMTV", "DanhMuc", new { @MaThanhVien = item.MaThanhVien })" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                            Xóa
                                        </a>

                                    </td>

                                </tr>

                            </tbody>
                        }
                    </table>

                    </br>
                   
                </div>
                
            </div>
            <a href="@Url.Action("ThemMoiTV", "DanhMuc")" class="btn btn-primary btn-xs">
                <i class="fa fa-plus"></i>
                Thêm Mới
            </a>
        </div>

    </div>
</div>
    <div style="margin-left:400px">
        @Html.PagedListPager(Model, page => Url.Action("XemDMThanhVien", new { page = page }))
    </div>


<script type="text/javascript">
    $(document).ready(function () {
        //Remove unnecessary input.
        $('#search-button').click(function () {
            $('input[name="DXScript"]').remove();
            return true;
        })
    });
</script>
